body {
    margin: 0;
    background-color: #2B5FAA;
}

.viewport {
    display: flex;
    width: 100%;
    height: 1080px;
    position: relative;
    /* border: #9dbb24 1px solid; */
}

.polygon1 {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #2c63b5 0%, #0f2550 100%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 40%);
    position: absolute;
}

.polygon2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(235deg, #2c63b5 0%, #0f2550 100%);
    clip-path: polygon(0 60%, 100% 80%, 100% 100%, 0% 100%);
    position: absolute;
}

.polygon4 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

header {
    margin-left: 60px;
    margin-right: 60px;
}

nav {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 178px;
    height: 59px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
    color: #D4D4D4;
}

    .menu ul {
        display: flex;
        gap: 95px;
        padding: 0%;
        list-style-type: none;
        color: #D4D4D4;
    }

    .menu ul a {
        color: #D4D4D4;
        font-family: Roboto Condensed;
        font-size: 20px;
        text-decoration: none;
    }


.submit {
    width: 159px;
    height: 59px;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #9c9c9c;
    background-color: transparent;
    border-radius: 50px;
    border: 2px #9c9c9c solid;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 4px white solid;
    border-radius: 1000px;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 492px;
    height: 492px;
    border-radius: 1000px;
    overflow: hidden;
}

.text-content {
    font-family: Roboto Condensed;
}

.text-content h2 {
    color: #DBDBFF;
    font-size: 40px;
}

.text-content h3 {
    color: #DBDBFF;
    font-size: 27px;
}

footer {
    margin-left: 238px;
    margin-right: 238px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.footerCon1 {
    color: #D4D4D4;
    font-family: Roboto Condensed;
}

.footerCon2 {
    text-align: center;
    color: #D4D4D4;
    font-family: Roboto Condensed;
}

.footerCon3 {
    text-align: right;
    color: #D4D4D4;
    font-family: Roboto Condensed;
}

.viewport1 {
    width: 100%;
    height: 1080px;
    background-color: #D4D4D4;
}

#my {
    position: absolute;
    /* height: 72px; */
    font-family: Roboto Condensed;
    font-size: 46px;
    background: linear-gradient(135deg, #1073a4 0%, #80796c 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    font-weight: 700;
    margin-top: 65px;
    margin-left: 238px;
}

.Rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fullscreen;
    height: 100%;
    /* border: #ff0000 1px solid; */
    position: relative;
}

.inner-rectangle {
    margin-left: 238px;
    margin-right: 238px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 1444px;
    height: 720px;
    display: grid;
}

.box {
    width: 100%;
    height: 100%;

}

.box img {
    margin-top: 30px;
    margin-left: 100px;
    background-image: white;

}

.box1 {
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: #0f2550 2px solid;
    border-bottom: #0f2550 2px solid;
}

.box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    border-left: #0f2550 2px solid;
    border-bottom: #0f2550 2px solid;

}

.box3 {
    grid-column: 2/1;
    grid-row: 2/3;
    border-right: #0f2550 2px solid;
    border-top: #0f2550 2px solid;

}

.box4 {
    grid-column: 2/3;
    grid-row: 2/3;
    border-left: #0f2550 2px solid;
    border-top: #0f2550 2px solid;
}

.box h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: #0f2550;
    font-weight: bold;
    margin-left: 100px;
}

.box p {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: #355b8f;
    line-height: 1.5;
    margin-left: 100px;
    font-weight: 700;
}

#text {
    margin-top: 40px;
    color: #385ee9;
    text-decoration: underline;
    margin-left: 100px;
}


.viewport2 {
    width: 100%;
    height: 1080px;
    background-color: #D4D4D4;
    /* border: 1px solid rgb(146, 0, 0); */
    overflow: hidden;
}

.portfolio-images {
    /* border: 2px #114abb solid; */
    width: fit-content;
    height: fit-content;
    display: grid;
    margin-left: 238px;
    margin-right: 238px;
}

.image-a {
    grid-column: 1/2;
    grid-row: 1/3;
    padding-right: 19px;
}

.image-b {
    margin-top: 0px;
    grid-column: 2/2;
    grid-row: 1/2;
}

.image-c {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-block-start: auto;

}

.button1 {
    position: absolute;
    bottom: 0;
    margin-bottom: 61px;
}

.submit1 {
    width: 180px;
    height: 70px;
    font-family: DM Sans, sans-serif;
    font-size: 26px;
    color: #233147;
    background-color: transparent;
    border-radius: 45px;
    border: 2px #000000 solid;
}

.viewport3 {
    width: 100%;
    height: 1080px;
    background-color: #D4D4D4;
    position: relative;
}

.rex {
    width: 100%;
    height: 12px;
    border-radius: 101px;
    background-color: #9c9c9c
}

.rex1 {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background: #3676CA;
}

.section {
    height: 100%;
    /* border: 3px rgb(204, 255, 0) solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-section {
    /* border: 2px red solid; */
    display: grid;
    width: 1444px;
    height: 720px;
    position: relative;
    margin-left: 238px;
    margin-right: 238px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    align-items: start;
}

.mid-section {
    /* border: 2px black solid; */
    width: 650px;
    height: fit-content;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
    margin: 0;

}

.mid-section p {
    font-size: 24px;
    font-family: Roboto Condensed;
    /* letter-spacing: 1px; */
}

#first-phrase {
    line-height: 45px;
    padding: 0;
    margin: 0;
    margin-bottom: 63px;
}

#second-phrase {
    font-weight: 700;
    line-height: 40px;
    padding: 0;
    margin: 0;
}

.right-section {
    /* border: 2px black solid; */
    width: 680px;
    line-height: 39px;
    height: fit-content;
    grid-column: 2/3;
    grid-row: 1/2;

}

.right-section h4 {
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: none;
    font-weight: 580;
}

.h {
    margin-top: 0;
    padding: 4px;
}

.pictures {
    position: relative;
    width: 100%;
    height: fit-content;
    /* border: 2px black solid; */
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    margin-block-start: auto;
    margin-bottom: 20px;

}

.images {
    width: 210px;
    height: 210px;
}

.button2 {
    position: absolute;
    bottom: 0;
    margin-bottom: 61px;
}

.submit2 {
    width: 180px;
    height: 70px;
    border-radius: 50px;
    font-family: Roboto Condensed;
    font-size: 26px;
    background: transparent;
    color: #233147;
    border: 2px solid;
}

.viewport4 {
    width: 100%;
    height: 1080px;
    position: relative;
    overflow: hidden;
}

#me {
    font-family: Roboto Condensed;
    font-size: 46px;
    color: #DBDBFF;
    font-weight: 700;
    margin-top: 65px;
    margin-left: 238px;
}

.mid-section1 {
    /* border: 2px black solid; */
    display: flex;
    justify-content: space-between;

    /* width: 1444px; */
    height: fit-content;
    margin-top: 70px;
    margin-left: 238px;
    margin-right: 238px;
    position: relative;
}

#aa {
    width: 340px;
    height: 340px;
}

#bb {
    width: 340px;
    height: 340px;
}

#cc {
    width: 340px;
    height: 340px;
}

.footer1 {
    /* border: 2px rgb(133, 23, 23) solid; */
    width: 100%;
    height: 432px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg, #2b5faa 47%, #CEE656 100%);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px black solid; */
    
}

.footer2{
    /* border: 2px red solid; */
    position: relative;
    width: 100% ;
    height: 311px;
    margin-left: 238px; 
    margin-right: 238px;  
}

.logo1 {
    /* border: 2px red solid; */
    width: 178px;
    height: 59px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
    color: #D4D4D4;
    margin-bottom: 30px;
}

.icon1{

    width: 532px;
    height: 58px;
    margin-bottom: 40px;
    margin-top: 20px;
}

#hi{
    width: fit-content;
    /* border: 2px red solid; */
    font-family: Roboto Condensed;
    font-size: 23px;
    color:#d4d4d4;
    margin-bottom: 35px;
}


#hi1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    /* border: 2px rgb(208, 193, 181) solid; */
    position: absolute;
    font-family: Roboto Condensed;
    font-size: 20px;
    color:#d4d4d4;
    font-weight: 600;
    /* margin-top: 0px; */
    bottom: 0;
    margin-bottom: 0;
    /* border: 2px red solid; */
}

.menu1 ul {
    margin: 0;
    display: flex;
    gap: 80px;
    padding: 0%;
    list-style-type: none;
}

.menu1 ul a {
    color: #000000;
    font-family: Roboto Condensed;
    font-size: 20px;
    text-decoration: none;
    /* font-weight: 00; */
}

.menu1{
    position: absolute;
    bottom: 0;
    right: 0;
}

.button5{
    position: absolute;
    bottom: 0;
    margin-bottom: 120px;
    margin-right: 65px;
    gap: 100px;
    display:  flex;
    right: 0;
}

.submit4 {
    width: 185px;
    height: 70px;
    border-radius: 50px;
    font-family: Roboto Condensed;
    font-size: 22px;
    background: transparent;
    border: 2px solid;
}

.icon1{
    display: flex;
    justify-content: space-between;
    

}

.icon1 img{
    width: 45px;
    height: fit-content;
}